@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔴 Need custom sizing for text! */
:root {
  --color: ;
}

/* <span className='btn-ouline absolute left-4 top-4 z-0 h-full w-full border-2 border-black'></span> */
/* .cta-group .btn-wrapper::before {
  content: '';
  position: absolute;
  left: 0.7rem;
  top: 0.7rem;
  z-index: 0;
  height: 100%;
  width: 100%;
  transition: 300ms ease-in all;
  transform: translate(-0.7rem, -0.7rem);
  border: 1px solid black;
} */

#facebook:hover {
  filter: invert(36%) sepia(17%) saturate(1719%) hue-rotate(140deg)
    brightness(90%) contrast(150%);
}
#instagram:hover {
  filter: invert(32%) sepia(53%) saturate(4685%) hue-rotate(295deg)
    brightness(85%) contrast(85%);
}
#linkedin:hover {
  filter: invert(30%) sepia(77%) saturate(1665%) hue-rotate(178deg)
    brightness(78%) contrast(99%);
}
#twitter:hover {
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(333deg) brightness(0%)
    contrast(103%);
}

/* -- Satoshi font -- */
/* light */
/* @font-face {
  font-family: 'Satoshi-Light';
  src: url('./fonts/Satoshi-Light.woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Light-Italic';
  src: url('./fonts/Satoshi-LightItalic.woff2');
  font-weight: 300;
  font-style: italic;
}

Regular
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('./fonts/Satoshi-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

Medium
@font-face {
  font-family: 'Satoshi-Medium';
  src: url('./fonts/Satoshi-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Medium-Italic';
  src: url('./fonts/Satoshi-MediumItalic.woff2');
  font-weight: 500;
  font-style: italic;
}
semi-bold
@font-face {
  font-family: 'Satoshi-Variable';
  src: url('./fonts/Satoshi-Variable.woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Variable-Italic';
  src: url('./fonts/Satoshi-VariableItalic.woff2');
  font-weight: 600;
  font-style: italic;
}

bold
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('./fonts/Satoshi-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi-Bold-Italic';
  src: url('./fonts/Satoshi-BoldItalic.woff2');
  font-weight: 700;
  font-style: italic;
} */
