@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔴 Need custom sizing for text! */
:root {
  --teal-base-700: hsl(184, 60%, 75%);
  --greenAccent-700: hsl(141, 86%, 83%);
  --violetAccent-700: hsl(252, 100%, 88%);
  --orangeAccent-900: hsl(34, 100%, 76%);

  --gray: #2e2e2e00;
}
html {
  scroll-behavior: smooth;
}
/* Conflicts with framer */
/* The animations appear jagged and cause flicker */
/* @media (prefers-reduced-motion) {
  *,
  *::after,
  *::before {
    transition-duration: 0.1s !important;
  }
} */

#quote::before {
  transform: scale(0.6);
  position: absolute;
  content: '';
  top: -0.5rem;
  left: -1.6rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./assets/quotes.svg');
  background-repeat: no-repeat;
}
#quote::after {
  position: absolute;
  content: '';
  bottom: -0.5rem;
  right: -1.6rem;
  transform: rotate(180deg) scale(0.6);
  /* transform: scale(0.7); */
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./assets/quotes.svg');
  background-repeat: no-repeat;
}

.modal-fix-blur {
  height: 100vh;
  overflow-y: hidden;
}

.modal-fix-blur::before {
  position: fixed;
  content: '';
  filter: blur(0.5);
  backdrop-filter: blur(10px);
  inset: 0;
  z-index: 100;
  height: 100vh;
}
.modal-fix {
  height: 100vh;
  overflow-y: hidden;
}

.modal-fix::before {
  position: fixed;
  content: '';
  background-color: white;
  inset: 0;
  z-index: 49;
  height: 100vh;
}
.project-modal {
  box-shadow: inset 0px 0px 0px 6px var(--greenAccent-700);
}
.hero-img-placeholder {
  background-image: url('https://portfolio-image-store.s3.ap-south-1.amazonaws.com/1706283290608-n4hq7k');
  background-position: 50% 50%;
  background-size: cover;
}
.about-hero-img-placeholder {
  background-image: url('https://portfolio-image-store.s3.ap-south-1.amazonaws.com/portfolio3/1711525564606-1j950d.webp');
  background-position: 50% 50%;
  background-size: cover;
}

.testimonial-card::before {
  position: absolute;
  z-index: 1;
  content: '';
  inset: 0;
  bottom: unset;
  height: 0.6rem;
  background-color: var(--teal-base-700);
}
.card-body::before {
  position: absolute;
  content: '';
  top: -1.5rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./assets/quotes.svg');
  background-repeat: no-repeat;
}
.card-body::after {
  position: absolute;
  content: '';
  bottom: -1.5rem;
  right: 0;
  transform: rotate(180deg);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('./assets/quotes.svg');
  background-repeat: no-repeat;
}

#facebook:hover,
img[title='facebook']:hover {
  filter: invert(36%) sepia(17%) saturate(1719%) hue-rotate(140deg)
    brightness(90%) contrast(150%);
}
#instagram:hover,
img[title='instagram']:hover {
  filter: invert(32%) sepia(53%) saturate(4685%) hue-rotate(295deg)
    brightness(85%) contrast(85%);
}
#linkedin:hover,
img[title='linkedin']:hover {
  filter: invert(30%) sepia(77%) saturate(1665%) hue-rotate(178deg)
    brightness(78%) contrast(99%);
}
#twitter:hover,
img[title='twitter']:hover {
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(333deg) brightness(0%)
    contrast(103%);
}
